.display-input-container {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 60px;
    border-bottom: 2px solid #ccc; 
  }
  
  .display-input-label {
    flex: 0.45; 
    font-weight: bold;
    font-family: 'SF-Pro-Rounded-Bold', sans-serif;
    font-size: 1rem; 
    margin-left: 10px;
    color: black;
  }
  
  .display-input-data {
    flex: 1;
    color: gray; 
    font-family: "SF-Pro-Text-Regular"; 
    height: 56px;
  }
  