.social-interactions-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.custom-button {
    margin: 0px;
    padding: 0px;
    --padding-start: 7px;
    --padding-end: 7px;
    --padding-top: 0px;
    --padding-bottom: 0px;
}