.image-container {
    width: 100%;
    height: 250px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.image-placeholder {
    width: 100%;
    height: 270px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-color-light);
}
  