.change-password-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px 16px;
    gap: 24px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
}

.change-password-button-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 56px;
}

.success-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.success-image {
    width: 200px;
    height: 200px;
    margin-bottom: 16px;
}

.success-text {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
}
