.configuration-view-content {
    margin-top: 10px;
}

.language-modal-content {
    padding: 20px;
    text-align: center;
}

.language-modal-content h1 {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'SF-Pro-Rounded-Bold';
    color: var(--ion-color-dark);
}

.language-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.language-button {
    background: none;
    border: none;
    padding: 15px;
    font-size: 16px;
    color: var(--ion-color-dark);
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s;
}

.language-button:hover {
    background-color: var(--ion-color-light);
}