.event-card-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    --padding: 0px;
    background: white;
    --gap: -20px;
    gap: 0px;
    width: 100%;
}

.image {
    margin: 0px 0px 0px 0px;
    height: 277px;
    width: 100%;
    object-fit: cover;
}

.title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px 0;
    padding: 0 4px;
}

.title-col {
    padding: 0;
}

.title {
    font-family: 'SF-Pro-Rounded-Semibold';
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.description-text {
    color: #666;
    font-size: 14px;
    line-height: 1.4;
    margin: 4px 0;
    padding: 0 4px;
}

.description-text p {
    margin: 0;
}

.more-details {
    font-size: 14px;
    --color: #666;
    text-transform: none;
    margin: 0;
    padding: 0 4px;
}


.content-container {
    padding: 0 10px;
}

ion-col {
    --padding-top: 0;
    --padding-bottom: 0;
}

.button-containers {
    display: flex;
    justify-content: center;
    width: 100%;
}

.more-details-text {
    font-size: 14px;
    --color: rgba(0, 0, 0, 0.6);
    text-transform: none;
    margin: 0;
    padding: 0 4px;
}