.custom-modal {
    --width: 80%;
    --max-width: 400px;
    --height: auto;
    --border-radius: 16px;
  }
  
  .modal-container {
    position: relative;
    padding: 48px 24px;
    background: white;
  }
  
  .close-button {
    position: absolute;
    right: 16px;
    top: 16px;
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .close-button ion-icon {
    width: 24px;
    height: 24px;
    color: #000;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  } 