.comment-container {
  display: flex;
  padding: 12px;
  align-items: flex-start;
}

.avatar-container {
  margin-right: 12px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 500px;
  object-fit: cover;
}

.default-avatar {
  background-color: #DDDDDD;
}

.content-container {
  flex: 1;
}

.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.username {
  font-family: var(--font-family-text);
  font-weight: bold;
  font-size: 14px;
  margin-right: 8px;
}

.timestamp {
  color: #666666;
  font-size: 12px;
}

.comment-text {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 4px;
  font-family: var(--font-family-text);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}

.comment-text:not(.expanded) {
  -webkit-line-clamp: 3;
}

.see-more-button {
  color: #666666;
  font-size: 14px;
  font-weight: 600;
  background: none;
  border: none;
  padding: 0;
  margin-top: 8px;
  cursor: pointer;
}

.see-more-button:hover {
  text-decoration: underline;
} 